* {
    box-sizing: border-box; /* Asegura que todos los elementos tengan un tamaño consistente */
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0; /* Elimina el margen automático para evitar espacios extra */
}

/* Estilos base para pantallas pequeñas */
body, form {
    max-width: 90%; /* Ajusta el ancho máximo del cuerpo y el formulario al 90% del viewport */
    margin: auto; /* Centra el contenido */
}

form {
    display: flex;   
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    justify-content: center;
    align-items: center; /* Centra los elementos horizontalmente */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Agrega sombra para mejorar la apariencia */
}

label {
    display: block;
    margin-top: 15px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    margin-bottom: 20px; /* Añade un margen inferior para separar el campo del botón */
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Hace que el botón ocupe todo el ancho disponible */
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 40px;
    font-weight: bold;
    text-align: center; /* Centra el texto */
}

/* Media query para pantallas más grandes */
@media (min-width: 768px) {
    body, form {
        max-width: 600px; /* Restaura el ancho máximo a 600px para pantallas más grandes */
    }

    label {
        margin-top: 10px; /* Reduce el margen superior para pantallas más grandes */
    }

    button {
        width: auto; /* Permite que el botón tenga un ancho automático */
    }
}
